ipv6 unicast-routing
vrf definition {{ VRF_NAME }}
rd {{ loopback0 }}:{{ RD }}
route-target both {{ ASN }}:{{ RD }}
address-family ipv4
exit
address-family ipv6
exit
exit

router bgp {{ ASN }}
address-family ipv4 vrf {{ VRF_NAME }}
maximum-path 2
redistribute connected
redistribute static
exit
address-family ipv6 vrf {{ VRF_NAME }}
maximum-path 2
redistribute connected
redistribute static
exit
